# System and IDE files
Thumbs.db
.DS_Store
*.suo
*.sublime-project
*.sublime-workspace

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

config.edn
save.edn
save.edn.bak
log

# Ignore lein if we install it in the repo folder
lein
lein.bat
.eastwood

# Ignore Java error dump files
hs_err_pid*.log

# IntelliJ will make and use these files
# Do NOT Delete them, but also do not commit them
.idea
witchazzan.iml

