{:port 8080
 :tilemap-path "../witchazzan-client/src/assets/tileMaps/"
 :tilemaps ["LoruleF8.json" "LoruleG7.json" "LoruleG8.json"
            "LoruleH6.json" "LoruleH7.json" "LoruleH8.json"
            "LoruleI7.json" "LoruleI8.json" "LoruleJ8.json"
            "LoruleE8.json" "LoruleF7.json" "LoruleG6.json"
            "LoruleH5.json" "LoruleI6.json" "LoruleJ7.json"
            "LoruleK8.json" "LoruleK7.json" "LoruleL8.json"
            "LoruleJ6.json" "LoruleI5.json" "LoruleH4.json"
            "LoruleG5.json" "LoruleF6.json" "LoruleE7.json"
            "LoruleD8.json" "LoruleD7.json" "LoruleI4.json"
            "LoruleL2.json" "LoruleM3.json" "LoruleN4.json"
            "LoruleO5.json" "LoruleP6.json" "LoruleP7.json"
            "LoruleO6.json" "LoruleN5.json" "LoruleM4.json"
            "LoruleL3.json" "LoruleJ1.json" "LoruleK2.json"
            "LoruleE2.json" "LoruleF1.json" "LoruleD3.json"
            "LoruleC4.json" "LoruleB5.json" "LoruleA6.json"
            "LoruleL4.json" "LoruleK3.json" "LoruleJ2.json"
            "LoruleG1.json" "LoruleI1.json" "LoruleF2.json"
            "LoruleD4.json" "LoruleC5.json" "LoruleB6.json"
            "LoruleA7.json" "LoruleM5.json" "LoruleN6.json"
            "LoruleO7.json" "LoruleP8.json" "LoruleO8.json"
            "LoruleN7.json" "LoruleM6.json" "LoruleL5.json"
            "LoruleK4.json" "LoruleJ3.json" "LoruleI2.json"
            "LoruleH1.json" "LoruleG2.json" "LoruleF3.json"
            "LoruleE4.json" "LoruleD5.json" "LoruleC6.json"
            "LoruleB7.json" "LoruleA8.json" "LoruleA9.json"
            "LoruleN8.json" "LoruleM7.json" "LoruleL6.json"
            "LoruleK5.json" "LoruleJ4.json" "LoruleH2.json"
            "LoruleI3.json" "LoruleG3.json" "LoruleF4.json"
            "LoruleE5.json" "LoruleD6.json" "LoruleC7.json"
            "LoruleB8.json" "LoruleM8.json" "LoruleL7.json"
            "LoruleK6.json" "LoruleH3.json" "LoruleJ5.json"
            "LoruleG4.json" "LoruleF5.json" "LoruleE6.json"
            "LoruleC8.json"
            "arena1.json" "backYard1.json"
            "EmptyCave.json" "SlimeCave.json" "CaveF8.json"
            "CaveE7.json" "CaveP7.json" "CaveO6.json"]
 :min-millis-per-frame 15
 :idle-millis-per-frame 500
 :pause false
 :auto-save true
 :auto-load true
 :gene-max 255
 :millis-per-hour 60000
 :log-to-repl false
 :hours-per-day 24
 :dawn 6
 :sunset 20
 :hunger 1
 :photosynthesis 3
 :crowding-factor 2
 :db-db ""
 :db-username ""
 :db-password ""
 :db-host ""
 :db-port 3306
 :herbivore-efficiency 5
 :starting-carrots 2
 }
