{:port 8080
 :tilemap-path "../witchazzan-client/src/assets/tileMaps/"
 :tilemaps ["LoruleF8.json" "LoruleG7.json" "LoruleG8.json"
            "LoruleH6.json" "LoruleH7.json" "LoruleH8.json"
            "LoruleI7.json" "LoruleI8.json" "LoruleJ8.json"
            "LoruleE8.json" "LoruleF7.json" "LoruleG6.json"
            "LoruleH5.json" "LoruleI6.json" "LoruleJ7.json"
            "LoruleK8.json" "LoruleK7.json" "LoruleL8.json"
            "LoruleJ6.json" "LoruleI5.json" "LoruleH4.json"
            "LoruleG5.json" "LoruleF6.json" "LoruleE7.json"
            "LoruleD8.json"
            "arena1.json" "backYard1.json"
            "EmptyCave.json" "SlimeCave.json" "CaveF8.json"]
 :min-millis-per-frame 15
 :idle-millis-per-frame 500
 :pause false
 :auto-save true
 :auto-load true
 :gene-max 255
 :millis-per-hour 60000
 :log-to-repl false
 :hours-per-day 24
 :dawn 6
 :sunset 20
 :hunger 1
 :photosynthesis 3
 :crowding-factor 2
 :db-db ""
 :db-username ""
 :db-password ""
 :db-host ""
 :db-port 3306
 }
